// Specific CSS for your home-page
body {
  background-color: #fcf2o;
}

.navbar {
  background-color: white;
  justify-content: space-between;
}

.navbar .navbar-brand img {
  width: 200px;
  height: 50px;
  margin-left: 30px;
}
