// Specific CSS for your home-page
body {
  background-color: #fcf2o;
}

.banner {
  background-image: url('./spaghetti.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.navbar {
  background-color: white;
  justify-content: space-between;
}

.navbar .navbar-brand img {
  width: 200px;
  height: 40px;
  margin-left: 30px;
}
